// ABOUT SECTION
.about .wrapper{
  display: flex;
  margin-bottom: 100px;

  article {
    width: 70%;
    padding-right: 50px;
    border-right: 2px solid lightgrey;

    h1 {
      font-size: 3rem;
      font-family: $secondary;
      font-weight: 400;
    }
  }

  aside {
    width: 30%;
    padding-left: 50px;

    h4 {
      font-size: 2rem;
    }
  
    h5 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
    }
  }
}

.aboutUs {
  h1 {
    margin-bottom: 10px;
  }

  hr {
    margin-bottom: 30px;
  }
}

.quote {
  font-size: 2rem;
  font-style: italic;
}

.flexContainer {
  display: flex;

  div {
    width: 70%;
  }

  img {
    width: 40%;
  }

  ul {
    list-style: none;
  }
}

.compSolutions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;

  h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 0;
  }

  div {
    padding: 60px 0;
  }

  ul {
    padding: 0;
    margin-top: 0;
  }

  li {
    list-style: none;
    padding-bottom: 20px;
  }

  .button {
    position: relative;
    left: 100px;
  }

  img {
    margin: 0 auto;
    padding: 60px;
  }

  p {
    margin: 0;
  }
}

.gallery {
  margin: 20px;
  
  img {
    width: 33%;
    padding: 30px;
  }
}

.quality ul {
  margin: 0 auto;
  font-size: 30px;
  width: 50%;
  
  li {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }

  i {
    margin-right: 10px;
    font-size: 1.5em;
  }
}

.whatIs {
  margin-bottom: 40px;
  ul {
    list-style: square;
    font-size: 20px;
  }

  h2 {
    margin-left: 0;
  }

  .lowerDiv {
    margin: 60px 0;
  }

  img,
  div {
    margin: 0;
  }

  p {
    margin-top: 0;
  }
}

// gut health 
.gutHealth {
  background-image: url('../assets/Rectal1.jpg');
}

.hormone {
  background-image: url('../assets/Hormone1.jpeg');
}

.heroAbout {
  margin-top: 10%;
  height: 90vh;
  background-size: cover;
  display: flex;
  justify-content: flex-end;

  div {
    width: 60%;
    align-self: center;
  }

  .button {
    display: inline-block;
  }
}

.lifeStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}




