// ABOUT SECTION
.about .wrapper{
  display: flex;

  article {
    width: 70%;
    padding-right: 50px;
    border-right: 2px solid lightgrey;

    h1 {
      font-size: 3rem;
      font-family: $secondary;
      font-weight: 400;
    }
  }

  aside {
    width: 30%;
    padding-left: 50px;

    h4 {
      font-size: 2rem;
    }
  
    h5 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
    }
  }
}

.innerCircle {
  background: $peach;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
}

.theCircle {
  background: linear-gradient($darkgreen, $peach, $darkgreen);
  border-radius: 50%;
  padding: 30px;
  display: inline-block;
  margin: 50px 20%;
  background-color: $peach;
  position: relative;

  .circleText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }

  h3 {
    font-family: $secondary;
    font-style: normal;
    margin: 100px;
    width: calc(90% - 200px);
    font-size: 1.8rem;
    text-align: center;
    text-transform: none;
    font-weight: 500;
  }

  h4 {
    background: white;
    font-size: 1.6rem;
    font-family: $secondary;
    position: absolute;
    text-align: center;
    margin: 150px 0 50px 0;
    width: 600px;
  }

}

