// ABOUT SECTION
.about .wrapper{
  display: flex;
  margin-bottom: 100px;

  article {
    width: 70%;
    padding-right: 50px;
    border-right: 2px solid lightgrey;

    h1 {
      font-size: 3rem;
      font-family: $secondary;
      font-weight: 400;
    }
  }

  aside {
    width: 30%;
    padding-left: 50px;

    h4 {
      font-size: 2rem;
    }
  
    h5 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1rem;
    }
  }
}

.hide {
  display: none;
}

.innerCircle {
  background: $nude;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
}

.theCircle {
  background: linear-gradient($salmon, $nude, $salmon);
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin: 0 30%;
  background-color: $nude;
  position: relative;
  top: -200px;


  .circleText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }

  h3 {
    font-family: $secondary;
    font-style: normal;
    margin: 100px;
    width: calc(90% - 200px);
    font-size: 1.8rem;
    text-align: center;
    text-transform: none;
    font-weight: 500;
  }

  h4 {
    background: white;
    font-size: 1rem;
    font-family: $secondary;
    position: absolute;
    text-align: center;
    margin: 180px 0 50px 0;
    width: 600px;
    padding: 10px 0;

    i{
      margin-right: 10px;
    }
  }


  ul li {
    position: absolute;
    list-style: none;
    font-size: 1.2rem;
    min-width: 150px;
    cursor: pointer;
  }

  ul h3 {
    font-size: 1.8rem;
    width: 250px;
    margin-left: 85px;
    margin-bottom: 50px;
  }

  p {
    font-size: 1.2rem;
    margin: 0 40px 60px 0;
  }

  a {
    border: 2px solid $teal;
    border-radius: 15px;
    padding: 5px 30px;
    color: $teal;
    font-size: 1.2rem;
    margin-right: 40px;
  }

  .top {
    top: -90px;
    left: 156px;
  }

  .topRight {
    top: 30px;
    left: 500px;
  }

  .right {
    top: 230px;
    left: 595px;
  }

  .bottomRight {
    bottom: 0;
    left: 500px;
  }

  .bottom {
    bottom: -90px;
    left: 140px;
  }

  .bottomLeft {
    bottom: 0;
    right: 500px;
  }

  .left {
    top: 230px;
    right: 595px;
  }

  .topLeft {
    top: 30px;
    right: 500px;
  }

}

