.hide {
  display: none;
}

.innerCircle {
  background: $nude;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
}

.theCircle {
  background: linear-gradient($salmon, $nude, $salmon);
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin: 5% 30% -5% 30%;
  background-color: $nude;
  position: relative;
  top: -200px;


  .circleText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }

  .logo {
    position: relative;
    top: 50px;
  }

  h3 {
    font-family: $secondary;
    font-style: normal;
    margin: 100px;
    width: calc(90% - 200px);
    font-size: 1.8rem;
    text-align: center;
    text-transform: none;
    font-weight: 500;
  }

  h4 {
    background: white;
    font-size: 1rem;
    font-family: $secondary;
    position: absolute;
    text-align: center;
    margin: 180px 0 50px 0;
    width: 600px;
    padding: 10px 0;

    i{
      margin-right: 10px;
    }
  }


  ul li {
    position: absolute;
    list-style: none;
    font-size: 1.2rem;
    min-width: 150px;
    cursor: pointer;
    font-family: $secondary;
  }

  ul h3 {
    font-size: 1.8rem;
    width: 250px;
    margin-left: 85px;
    margin-bottom: 50px;
  }

  p {
    font-size: 1.2rem;
    margin: 0 40px 60px 0;
  }

  a {
    border: 2px solid $teal;
    border-radius: 15px;
    padding: 5px 30px;
    color: $teal;
    font-size: 1.2rem;
    margin-right: 40px;
  }

  hr {
    width: 40px;
    position: absolute;
  }

  .top {
    top: -90px;
    left: 140px;

    hr {
      transform: rotate(90deg);
      left: 90px;
      top: 34px;
    }
  }

  .topRight {
    top: -15px;
    left: 450px;

    hr {
      position: absolute;
      transform: rotate(-45deg);
      left: -11px;
      top: 45px;
    }
  }

  .right {
    top: 218px;
    left: 570px;

    hr {
      left: -45px;
      bottom: 10px;
    }
  }

  .bottomRight {
    bottom: -20px;
    left: 440px;

    hr {
      transform: rotate(45deg);
      left: 2px;
      top: -25px;
    }
  }

  .bottom {
    bottom: -90px;
    left: 125px;

    hr {
      transform: rotate(90deg);
      left: 41%;
      bottom: 30px;
    }
  }

  .bottomLeft {
    bottom: -20px;
    right: 445px;

    hr {
      transform: rotate(-45deg);
      right: 2px;
      top: -25px;
    }
  }

  .left {
    top: 218px;
    right: 550px;

    hr {
      right: -25px;
      bottom: 10px;
    }
  }

  .topLeft {
    top: -15px;
    right: 455px;

    hr {
      transform: rotate(45deg);
      right: -13px;
      top: 45px;
    }
  }
}

// when selected
.selected {
  color: red;
}

// Decorative balls
.ball {
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
}

.ball1 {
  left: 48.5%;
  top: 1px;
}

.ball2 {
  left: 48.5%;
  bottom: 1px;
}

.ball3 {
  bottom: 50%;
  left: 1px;
}

.ball4 {
  bottom: 50%;
  right: 1px;
}

.ball5 {
  top: 14.5%;
  left: 14%;
}

.ball6 {
  top: 14.5%;
  right: 14%;
}

.ball7 {
  bottom: 14.5%;
  left: 14%;
}

.ball8 {
  bottom: 14.5%;
  right: 14%;
}