.subHero .wrapper{
  display: flex;

  div:first-child {
    width: 40%;
    box-shadow: -30px 30px 0 0 $nude;
    margin: 100px;
  }

  div:last-child {
    width: 60%;
    margin-top: 100px;

    ul {
      list-style: none;
      font-family: $secondary;
      font-size: 1.5rem;
      padding: 0;
    }
  }

  h1 {
    font-family: $secondary;
  }
}

#carousel {
  display: flex;
  margin: 50px;
  
  .card {
  border: 1px solid white;
  padding: 70px;
  text-align: center;
  }

  h4 {
    font-size: 1.6rem;
    font-family: $secondary;
  }

  h5 {
    font-size: 1.2rem;
    font-family: $primary;
    font-weight: 200;
    font-style: italic;
  }

  p {
    font-size: 1.2rem;
    font-family: $secondary;
  }

}

.subMain {
  font-family: $secondary;
  font-size: 15px;

  p {
    margin-right: 40%;
  }

  ul {
    list-style: square;
  }

  h3 {
    margin: 0;
  }

  .subMainFlex {
    display: flex;
    
    ul {
      width: 40%;
      font-size: 1.2rem;
      line-height: 0.5;

      p {
        font-size: 1rem;
        margin-left: 10px;
      }

      h5 {
        margin-left: 10px;
      }
    }

    div {
      width: 60%;
      padding: 50px 100px;
    }

    img {
      box-shadow: 20px 20px 0px 0px rgba(0,0,0,0.75);
    }
  }
}

.beigeBox {
  text-align: center;
  background-color: $nude;
  margin: 100px;
  padding: 20px 100px;

  h2 {
    color: black;
  }

  a {
    background-color: $teal;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 30px;
  }
}

.fineText {
  font-family: $primary;
  font-size: 1rem;
  width: 40%;
}


.compound {
  font-size: 20px;
  margin-top: 100px;

  h2 {
    color: $teal;
    font-weight: 800;
    margin: 25px 0;
  }
  
  h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    position: relative;
    bottom: 10px;
    text-transform: none;
  }

  ul {
    list-style: url(../assets/checkmark.svg);
    font-size: 50px;
  }
}

