// FORM + MAP
.formMap .wrapper {
  display: flex;
  justify-content: space-between;

  //TEH FORM
  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px 0;
    padding: 0;

    h2 {
      margin: 0 0 20px 0;
      font-style: normal;
      font-family: $secondary;
    }
    
    input,
    textarea {
      padding: 10px 20px;
      margin-bottom: 10px;
      font-size: 1rem;
    }

    button {
      width: 30%;
      font-size: 1.3rem;
      padding: 10px 10px;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        color: $salmon;
        background-color: white;
        box-shadow: 0px 0px 0px 2px $salmon inset;
      }
    }

    textarea {
      resize: none;
    }
  }

  .map {
    margin: 20px 0 0 50px;
  }
}

// HOURS AND ADDRESS UNDER MAP
.hours {
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    font-family: $secondary;
    font-size: 1rem;
    padding: 0;
    font-weight: 400;
    margin-right: 10px;
  }

  h4 {
    font-family: $secondary;
    font-size: 1rem;
  }
  
  div {
    width: 50%;
  }

  span {
    margin-right: 15px;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: black;
  }
}

