@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}


//MOBILE
@media (max-width: 1000px) {
  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .heroOne {
    background: url(../assets/hero-image-mobile.jpg);
    background-size: cover;
    height: 50vh;
    background-position: center;

    div {
      width: 80%;
      margin: 0 auto;
      font-size: 1em;
      bottom: 0px;
    }

    h1 {
      padding-bottom: 10px;
      font-size: 2em;
    }

    p {
      font-size: 1.5em;
    }

    .contactBtn {
      top: 20px;
    }
  }

  header {
    justify-content: center;
  }

  .mobile {
    display: block;

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      list-style: none;

      li {
        font-size: 1.5rem;
      }

      a {
        text-transform: uppercase;
        padding: 5px 10px;
        color: black;
      }

      .button {
        color: white;
      }
    }
  }

  .mobileMenu {
    // display: block;
    
    ul {
      list-style: none;
    }

    a {
      color: black;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid black;
    }
  }

  .browserNav {
    display: none;
  }

  .featureOne {
    ul {
      flex-direction: column;
      margin: 0;

      li { 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        img {
          margin: 0 20px;
        }
      }
    }
    
    h2 {
      padding: 10px;
    }
  }

  hr {
    display: none;
  }

  .featureTwo {
    margin-bottom: 350px;

    .wrapper {
      flex-direction: column;
  
      .featureImage {
        width: 80%;
        margin: 20px auto;
      }
  
      .featureText {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .theCircle,
  .pharmacyServices,
  .bannerTwo {
    display: none;
  }

  .blog {
    margin: 0;
    padding: 0 50px 30px 50px;

    .wrapper {
      flex-direction: column;
      align-items: center;
    }

    div:first-of-type,
    div:last-of-type {
      width: 100%;
      text-align: center;
    }
  }
  
  .formMap .wrapper {
    flex-direction: column;
    justify-content: center;

    form {
      width: 100%;
    }

    .map {
      margin: 0;
    }
  }

  .subscribe form {
    flex-direction: column;

    input {
      margin: 10px;
    }
  }

  // footer
  .footerBar {
    flex-direction: column;
  }

  .footerNav div {
    flex-wrap: wrap;
  }

}

// MOBILE
@media (max-width: 600px) {
  .hours {
    flex-direction: column;
    align-items: center;
    
    div {
      width: 100%;
    }
  }

  iframe {
    width: 300px;
    left: 0;
  }

  .gmap_canvas {
    width: 300px !important;
  }

  .heroOne {
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;

    a {
      font-size: 1.6em;
    }

    div {
      // display: none;
      background: rgba(250, 246, 242, 0.6);
      position: abolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
    }
  }

  .subscribe h3 {
    text-align: center;
  }
}

