@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}


//MOBILE
@media (max-width: 1000px) {
  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .heroMain {
    .one .left,
    .one .right,
    .three .left,
    .three .right {display:none;}
    .one .mid {
      width: 100%;
      div {opacity: 1;}
    }
    .two .right div {
      opacity: 1;
      h2 {font-size: 1.2rem;}
    }
    .three .mid {
      width: 100%;
      div {opacity: 1}
    }
    
  }

  header {
    justify-content: center;
  }

  .mobile {
    display: block;

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      list-style: none;

      li {
        font-size: 1.5rem;
      }

      a {
        text-transform: uppercase;
        padding: 5px 10px;
        color: black;
      }

      .button {
        color: white;
      }
    }
  }

  .mobileMenu {
    ul {
      list-style: none;
    }

    a {
      color: black;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid black;
    }
  }

  .browserNav {
    display: none;
  }

  .featureOne {
    ul {
      flex-direction: column;
      margin: 0;

      li { 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        img {
          margin: 0 20px;
        }
      }
    }
    
    h2 {
      padding: 10px;
    }
  }

  hr {
    display: none;
  }

  .featureTwo {
    margin-bottom: 350px;

    .wrapper {
      flex-direction: column;
  
      .featureImage {
        width: 80%;
        margin: 20px auto;
      }
  
      .featureText {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  }

  .theCircle,
  .pharmacyServices,
  .bannerTwo {
    display: none;
  }

  .blog {
    margin: 0;
    padding: 0 50px 30px 50px;

    .wrapper {
      flex-direction: column;
      align-items: center;
    }

    div:first-of-type,
    div:last-of-type {
      width: 100%;
      text-align: center;
    }
  }
  
  .formMap .wrapper {
    flex-direction: column;
    justify-content: center;

    form {
      width: 100%;
    }

    .map {
      margin: 0;
    }
  }

  .subscribe form {
    flex-direction: column;

    input {
      margin: 10px;
    }
  }

  // footer
  .footerBar {
    flex-direction: column;
  }

  .footerNav div {
    flex-wrap: wrap;
  }

  // compound pages
  .beigeBox {
    padding: 20px 40px;
    width: 90%;
    margin: 5% auto;
  }

  .subHero .wrapper {
    flex-direction: column;
    width: 80%;

    div:first-child,
    div:last-child {
      width: 100%;
      margin: 0 auto;
    }
  }

  .subMain {
    p {
      margin: 10px 0;
    }

    .subMainFlex {
      flex-direction: column;

      div {
        width: 100%;
      }
    }

    .subMainFlex ul,
    .fineText {
      width: 100%;
    }
  }
}

// MOBILE
@media (max-width: 600px) {
  // front page
  .hours {
    flex-direction: column;
    align-items: center;
    
    div {
      width: 100%;
    }
  }

  iframe {
    width: 300px;
    left: 0;
  }

  .gmap_canvas {
    width: 300px !important;
  }

  .heroMain {
    .two .left {display:none;}
    .two .right {
      height: 250px;
      width: 100%;
    }
    .three {height: 500px}
  }

  .subscribe h3 {
    text-align: center;
  }

  // compounding pages
  .subMain {
    flex-direction: column;
    div,
    img,
    p {
      width: 100%;
      text-align: center;
    }
  }

  .beigeBox {
    margin: 0;
    width: 100%;
    padding: 20px;
  }

  .subMainFlex,
  .dermBanner div {
    align-items: center;
  }
}

