// order triange - new or returning patient
.order {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 200px;

  
  div {
    background-color: black;
    padding: 15px;
    
    a {
      color: black;
      padding: 60px 0;
      border: 20px solid $nude;
      background-color: $nude;
      border-radius: 20px;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
    }
  }
}

// progress bar at the top
// change colour on js based on progress
.orderProgress {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: $secondary;
  color: grey;
  font-size: 1.4rem;
  padding: 20px 0;

  span {
    border: 3px solid grey;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  li {
    margin: 0 10px;
  }

  .selected {
    color: $salmon;
    span {
      background-color: $salmon;
    color: white;
    border: 3px solid $salmon;
    }
  }
}

// Initial form on first page
.orderForm {
  background: $nude;
  margin: 50px auto;
  width: 800px;
  font-family: $secondary;

  h1 {
    font-weight: 300;
    font-size: 2.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    font-size: 1.1rem;
    font-weight: 300;
  }

  label {
    text-transform: capitalize;
    margin: 20px 0 10px 0;
  }

  input,
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
  }

  button {
    margin-top: 40px;
    padding: 10px 0;
    width: 25%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  a {
    color: black;
    font-family: $primary;
    text-transform: none;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: underline;
  }
}

// Display order details (on second page)
.orderDetails {
  display: none;
  background: $nude;
  margin: 50px auto;
  width: 800px;
  font-family: $secondary;
  padding: 50px 100px;

  h1 {
    font-weight: 300;
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    margin-top: 40px;
    width: 40%;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

#myFile {
  font-size: 1.2rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  h4 {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  div {
    padding: 10px 0;
  }

  label {
    font-size: 1.2rem;
  }

  .indent {
    margin: 0 0 0 20px;
    font-size: 1rem;
    text-transform: none;

    a {
      font-size: 1rem;
    }
  }
}

#sendOrder {
  margin-top: 40px;
  width: 40%;
  border: none;
  cursor: pointer;
}

// Display confirmation (third page)
.confirmation {
  display: none;
  margin: 0 auto;
  width: 800px;
  font-family: $secondary;
  text-align: center;

  h1 {
    margin-top: 200px;
  }

  p {
    margin-bottom: 150px;
  }
}

