h1 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: $primary;
  font-weight: 100;
}

h2 {
  font-size: 2rem;
  margin-left: 80px;
  text-transform: capitalize;
  font-weight: 200;
}

p {
  font-size: 1.2rem;
  font-family: $secondary;
  font-weight: 300;
  line-height: 1.6;
}

a {
  font-family: $button;
}


