@import 'setup';
@import 'wrapper';
@import 'variables';
@import 'typography';
@import 'dropDown';
@import 'main';
@import 'circle';
@import 'contact';
@import 'about';
@import 'compounding';
@import 'order';
@import 'meetPharmacist';
@import 'mediaQueries';

body {
  font-size: 62.5%;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

// GENERAL BUTTON
.button,
button {
  background-color: $salmon;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-family: $button;
  font-weight: 600;
  border: none;
}

.secondaryButton {
  border: 3px solid $teal;
  border-radius: 30px;
  color: $teal;
  position: relative;
  padding: 10px 20px;
  transition: 0.2s ease;
  top: 20px;

  &:hover {
    color: white;
    background: $teal;
  }
}

a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
}

