html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1800px;
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 3.8rem;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-left: 80px;
  text-transform: capitalize;
  font-weight: 200;
}

p {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

a {
  font-family: "Open Sans", sans-serif;
}

.menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2000;
  padding: 0;
  padding: 10px 5px;
  margin-left: -35px;
}

.burger {
  display: none;
  position: absolute;
  right: 2%;
  top: 5%;
}

.mobile {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3000;
  width: 100%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

header .info {
  color: black;
}

header .info li {
  padding: 10px 30px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

header .info a {
  color: black;
  font-size: 1rem;
}

header .nav {
  text-transform: uppercase;
  font-weight: 800;
  color: black;
}

header .nav li {
  padding: 1em 1.5em;
}

header .nav a {
  color: black;
  font-size: 1rem;
}

header .nav a:hover {
  color: #1FA091;
}

header .nav a i {
  padding-left: 5px;
}

header .nav .action {
  color: white;
  font-size: 1.3rem;
  padding: 10px 15px;
}

header .nav .action:hover {
  color: #FB575B;
  background: white;
  -webkit-box-shadow: 0px 0px 0px 2px #FB575B inset;
          box-shadow: 0px 0px 0px 2px #FB575B inset;
}

.logoName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 10px 30px;
}

.pharmacyName {
  width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  right: 40px;
}

.mobileMenu {
  display: none;
}

main {
  margin-top: 150px;
}

.heroOne {
  background: url(../assets/hero-image-2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroOne div {
  background: rgba(250, 246, 242, 0.8);
  padding: 50px;
  width: 50%;
  margin-left: 100px;
  text-align: center;
  position: relative;
  bottom: 20px;
}

.heroOne h1 {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.heroOne p {
  font-size: 1.5rem;
  margin: 0;
}

.heroOne .contactBtn {
  position: relative;
  top: 60px;
  background: #1FA091;
}

.featureOne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 40px;
}

.featureOne ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featureOne ul img {
  width: 15%;
}

.featureOne ul a {
  text-transform: none;
  color: black;
  text-decoration: underline;
}

.featureOne ul h3 {
  border: 3px solid #FB575B;
  color: #FB575B;
  padding: 8px 15px;
  border-radius: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.featureOne ul p {
  font-weight: 400;
}

.featureOne {
  position: relative;
  margin-bottom: 50px;
}

.featureOne h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 200px;
  margin-left: 0;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.featureOne hr {
  position: absolute;
  bottom: 85px;
  width: 17vw;
}

.featureOne .lineOne {
  left: 420px;
}

.featureOne .lineTwo {
  right: 420px;
}

.featureTwo {
  background-color: #FAF6F2;
  height: 40vh;
  margin-bottom: 500px;
}

.featureTwo .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featureTwo .wrapper .featureImage {
  margin: 80px 20px 0 0;
  width: 50%;
}

.featureTwo .wrapper .featureText {
  margin-top: 80px;
  background-color: white;
  padding: 20px 50px;
  width: 50%;
  position: relative;
  margin-left: 40px;
  text-align: center;
}

.featureTwo .wrapper .featureText h2 {
  width: 100%;
  margin: 30px 0 20px 0;
}

.featureTwo .wrapper .featureText p {
  padding-bottom: 20px;
  line-height: 1.3;
}

.featureTwo .wrapper .sticker {
  top: 15px;
  left: -45px;
}

.featureTwo .wrapper .sticker p {
  padding: 0 20px;
}

.contactBtn {
  color: white;
  background: #1FA091;
  border: 2px solid #1FA091;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 1.2rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contactBtn:hover {
  color: #1FA091;
  background-color: white;
}

.pharmacyServices {
  margin: 100px 0 350px 0;
  background-color: #FAF6F2;
  height: 50vh;
  padding-top: 50px;
}

.pharmacyServices h3 {
  font-size: 1.4rem;
}

.pharmacyServices h2 {
  font-size: 2.4rem;
  margin-top: 0;
}

.pharmacyServices ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.pharmacyServices ul li {
  margin: 0 10px;
  border: 10px solid white;
}

.pharmacyServices ul li img {
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

.pharmacyServices ul li img:hover {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
}

.pharmacyServices ul p {
  text-align: center;
  color: black;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
}

.pharmacyServices .imageContainer {
  width: 250px;
}

.banner {
  background-color: #EFEFEF;
  text-transform: capitalize;
  color: black;
  padding: 10px 0;
}

.banner h2 {
  color: black;
  margin: 0;
}

.banner h3 {
  text-transform: none;
}

.blog {
  background: #FAF6F2;
  margin-top: 400px;
  padding: 0 100px;
}

.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .wrapper div:first-of-type {
  width: 70%;
}

.blog .wrapper p {
  font-size: 1rem;
  padding-bottom: 20px;
}

.blog .wrapper div:last-of-type {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blog .wrapper a {
  background-color: #1FA091;
  padding: 10px 25px;
  font-size: 1.1rem;
}

.blog .wrapper a:hover {
  background-color: white;
  color: #1FA091;
  -webkit-box-shadow: 0px 0px 0px 2px #1FA091 inset;
          box-shadow: 0px 0px 0px 2px #1FA091 inset;
}

.bannerTwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 30px 0;
  width: 100%;
}

.bannerTwo li {
  border-right: 2px solid grey;
  padding: 0 20px;
  width: 20%;
}

.bannerTwo li p {
  font-size: 0.9rem;
}

.bannerTwo li:last-child {
  border: none;
}

.bannerTwo li img {
  width: 20%;
  margin: 0 auto;
}

.bannerTwo i {
  font-size: 4rem;
}

.bannerTwo p {
  font-size: 1rem;
  color: black;
  padding: 0 50px;
  margin: 0;
}

.subscribe form {
  background: #FAF6F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin-top: 30px;
}

.subscribe form input {
  width: 40%;
  font-size: 1.3rem;
  padding: 5px 10px;
}

.subscribe form h3 {
  text-transform: capitalize;
}

.subscribe form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.3rem;
  padding: 10px 20px;
  background: #1FA091;
}

.subscribe form button:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #1FA091 inset;
          box-shadow: 0px 0px 0px 2px #1FA091 inset;
  color: #1FA091;
  background-color: white;
}

footer {
  background-color: black;
  color: white;
}

footer p {
  font-size: 1.2rem;
}

footer h3 {
  font-size: 1.3rem;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  padding-left: 0;
}

footer a {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
}

footer .footerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 2px solid grey;
  justify-self: flex-start;
  padding-right: 50px;
}

footer .footerSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .footerSocial i {
  font-size: 2rem;
  padding-right: 20px;
}

footer .footerNav {
  border-right: 2px solid grey;
  padding: 0 50px;
}

footer .footerNav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerNav div ul {
  list-style: none;
  padding: 0 30px 0 0;
}

footer .footerPartners {
  padding-left: 50px;
}

.disclaimer {
  padding: 25px;
}

.disclaimer p {
  font-size: 0.7rem;
  margin: 0;
  text-align: justify;
}

.hide {
  display: none;
}

.innerCircle {
  background: #FAF6F2;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
}

.theCircle {
  background: -webkit-gradient(linear, left top, left bottom, from(#FB575B), color-stop(#FAF6F2), to(#FB575B));
  background: linear-gradient(#FB575B, #FAF6F2, #FB575B);
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin: 5% 30% -5% 30%;
  background-color: #FAF6F2;
  position: relative;
  top: -200px;
}

.theCircle .circleText {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
}

.theCircle .logo {
  position: relative;
  top: 50px;
}

.theCircle h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  margin: 100px;
  width: calc(90% - 200px);
  font-size: 1.8rem;
  text-align: center;
  text-transform: none;
  font-weight: 500;
}

.theCircle h4 {
  background: white;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  text-align: center;
  margin: 180px 0 50px 0;
  width: 600px;
  padding: 10px 0;
}

.theCircle h4 i {
  margin-right: 10px;
}

.theCircle ul li {
  position: absolute;
  list-style: none;
  font-size: 1.2rem;
  min-width: 150px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.theCircle ul h3 {
  font-size: 1.8rem;
  width: 250px;
  margin-left: 85px;
  margin-bottom: 50px;
}

.theCircle p {
  font-size: 1.2rem;
  margin: 0 40px 60px 0;
}

.theCircle a {
  border: 2px solid #1FA091;
  border-radius: 15px;
  padding: 5px 30px;
  color: #1FA091;
  font-size: 1.2rem;
  margin-right: 40px;
}

.theCircle hr {
  width: 40px;
  position: absolute;
}

.theCircle .top {
  top: -90px;
  left: 140px;
}

.theCircle .top hr {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 90px;
  top: 34px;
}

.theCircle .topRight {
  top: -15px;
  left: 450px;
}

.theCircle .topRight hr {
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -11px;
  top: 45px;
}

.theCircle .right {
  top: 218px;
  left: 570px;
}

.theCircle .right hr {
  left: -45px;
  bottom: 10px;
}

.theCircle .bottomRight {
  bottom: -20px;
  left: 440px;
}

.theCircle .bottomRight hr {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 2px;
  top: -25px;
}

.theCircle .bottom {
  bottom: -90px;
  left: 125px;
}

.theCircle .bottom hr {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 41%;
  bottom: 30px;
}

.theCircle .bottomLeft {
  bottom: -20px;
  right: 445px;
}

.theCircle .bottomLeft hr {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 2px;
  top: -25px;
}

.theCircle .left {
  top: 218px;
  right: 550px;
}

.theCircle .left hr {
  right: -25px;
  bottom: 10px;
}

.theCircle .topLeft {
  top: -15px;
  right: 455px;
}

.theCircle .topLeft hr {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -13px;
  top: 45px;
}

.selected {
  color: red;
}

.ball {
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
}

.ball1 {
  left: 48.5%;
  top: 1px;
}

.ball2 {
  left: 48.5%;
  bottom: 1px;
}

.ball3 {
  bottom: 50%;
  left: 1px;
}

.ball4 {
  bottom: 50%;
  right: 1px;
}

.ball5 {
  top: 14.5%;
  left: 14%;
}

.ball6 {
  top: 14.5%;
  right: 14%;
}

.ball7 {
  bottom: 14.5%;
  left: 14%;
}

.ball8 {
  bottom: 14.5%;
  right: 14%;
}

.formMap .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formMap .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 20px 0;
  padding: 0;
}

.formMap .wrapper form h2 {
  margin: 0 0 20px 0;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
}

.formMap .wrapper form input,
.formMap .wrapper form textarea {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.formMap .wrapper form button {
  width: 30%;
  font-size: 1.3rem;
  padding: 10px 10px;
  margin-top: 20px;
  cursor: pointer;
}

.formMap .wrapper form button:hover {
  color: #FB575B;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 2px #FB575B inset;
          box-shadow: 0px 0px 0px 2px #FB575B inset;
}

.formMap .wrapper form textarea {
  resize: none;
}

.formMap .wrapper .map {
  margin: 20px 0 0 50px;
}

.hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hours ul {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0;
  font-weight: 400;
  margin-right: 10px;
}

.hours h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.hours div {
  width: 50%;
}

.hours span {
  margin-right: 15px;
}

.hours p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1;
}

.hours li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.about .wrapper article {
  width: 70%;
  padding-right: 50px;
  border-right: 2px solid lightgrey;
}

.about .wrapper article h1 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.about .wrapper aside {
  width: 30%;
  padding-left: 50px;
}

.about .wrapper aside h4 {
  font-size: 2rem;
}

.about .wrapper aside h5 {
  font-size: 1.5rem;
  margin: 0;
}

.about .wrapper aside p {
  font-size: 1rem;
}

.aboutUs h1 {
  margin-bottom: 10px;
}

.aboutUs hr {
  margin-bottom: 30px;
}

.quote {
  font-size: 2rem;
  font-style: italic;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer div {
  width: 70%;
}

.flexContainer img {
  width: 40%;
}

.flexContainer ul {
  list-style: none;
}

.compSolutions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
}

.compSolutions h3 {
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 0;
}

.compSolutions div {
  padding: 60px 0;
}

.compSolutions ul {
  padding: 0;
  margin-top: 0;
}

.compSolutions li {
  list-style: none;
  padding-bottom: 20px;
}

.compSolutions .button {
  position: relative;
  left: 100px;
}

.compSolutions img {
  margin: 0 auto;
  padding: 60px;
}

.compSolutions p {
  margin: 0;
}

.gallery {
  margin: 20px;
}

.gallery img {
  width: 33%;
  padding: 30px;
}

.quality ul {
  margin: 0 auto;
  font-size: 30px;
  width: 50%;
}

.quality ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  font-size: 0.8em;
}

.quality ul i {
  margin-right: 10px;
  font-size: 1.5em;
}

.quality ul div,
.quality ul p {
  padding: 0;
  margin: 0;
}

.pain {
  -o-object-fit: cover;
     object-fit: cover;
}

.whatIs {
  margin-bottom: 40px;
}

.whatIs ul {
  list-style: square;
  font-size: 20px;
}

.whatIs h2 {
  margin-left: 0;
}

.whatIs .lowerDiv {
  margin: 60px 0;
}

.whatIs img,
.whatIs div {
  margin: 0;
}

.whatIs p {
  margin-top: 0;
}

.gutHealth {
  background-image: url("../assets/Rectal1.jpg");
}

.hormone {
  background-image: url("../assets/Hormone1.jpeg");
}

.heroAbout {
  margin-top: 10%;
  height: 90vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.heroAbout div {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.heroAbout .button {
  display: inline-block;
}

.lifeStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
}

.subHero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subHero .wrapper div:first-child {
  width: 40%;
  -webkit-box-shadow: -30px 30px 0 0 #FAF6F2;
          box-shadow: -30px 30px 0 0 #FAF6F2;
  margin: 100px;
}

.subHero .wrapper div:last-child {
  width: 60%;
  margin-top: 100px;
}

.subHero .wrapper div:last-child ul {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  padding: 0;
}

.subHero .wrapper h1 {
  font-family: "Open Sans", sans-serif;
}

.dermBanner {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}

.dermBanner h2 {
  color: teal;
  margin: 0;
}

.dermBanner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dermBanner div div {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  background: #FAF6F2;
}

.dermBanner div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
}

.subMain {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.subMain p {
  margin-right: 40%;
}

.subMain ul {
  list-style: square;
}

.subMain h2 {
  color: #1FA091;
  margin: 0;
}

.subMain h3 {
  margin: 0;
}

.subMain .subMainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subMain .subMainFlex ul {
  width: 40%;
  font-size: 1.2rem;
  line-height: 0.5;
}

.subMain .subMainFlex ul p {
  font-size: 1rem;
  margin-left: 10px;
}

.subMain .subMainFlex ul h5 {
  margin-left: 10px;
}

.subMain .subMainFlex div {
  width: 60%;
  padding: 50px 100px;
}

.subMain .subMainFlex img {
  -webkit-box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.75);
}

.beigeBox {
  text-align: center;
  background-color: #FAF6F2;
  margin: 100px;
  padding: 20px 100px;
}

.beigeBox h2 {
  color: black;
}

.beigeBox a {
  background-color: #1FA091;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  top: 30px;
}

.fineText {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  width: 40%;
}

.compound {
  font-size: 20px;
  margin-top: 100px;
}

.compound h2 {
  color: #1FA091;
  font-weight: 800;
  margin: 25px 0;
}

.compound h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  position: relative;
  bottom: 10px;
  text-transform: none;
}

.compound ul {
  list-style: url(../assets/checkmark.svg);
  font-size: 50px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px 200px;
}

.order div {
  background-color: black;
  padding: 15px;
}

.order div a {
  color: black;
  padding: 60px 0;
  border: 20px solid #FAF6F2;
  background-color: #FAF6F2;
  border-radius: 20px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.orderProgress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  color: grey;
  font-size: 1.4rem;
  padding: 20px 0;
}

.orderProgress span {
  border: 3px solid grey;
  border-radius: 50%;
  margin-right: 10px;
  padding: 8px 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

.orderProgress li {
  margin: 0 10px;
}

.orderProgress .selected {
  color: #FB575B;
}

.orderProgress .selected span {
  background-color: #FB575B;
  color: white;
  border: 3px solid #FB575B;
}

.orderForm {
  background: #FAF6F2;
  margin: 50px auto;
  width: 800px;
  font-family: "Open Sans", sans-serif;
}

.orderForm h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

.orderForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px;
  font-size: 1.1rem;
  font-weight: 300;
}

.orderForm label {
  text-transform: capitalize;
  margin: 20px 0 10px 0;
}

.orderForm input,
.orderForm select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.orderForm button {
  margin-top: 40px;
  padding: 10px 0;
  width: 25%;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.orderForm a {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: underline;
}

.orderDetails {
  display: none;
  background: #FAF6F2;
  margin: 50px auto;
  width: 800px;
  font-family: "Open Sans", sans-serif;
  padding: 50px 100px;
}

.orderDetails h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

.orderDetails p {
  font-size: 1rem;
}

.orderDetails button {
  margin-top: 40px;
  width: 40%;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#myFile {
  font-size: 1.2rem;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

.checkbox h4 {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 500;
}

.checkbox div {
  padding: 10px 0;
}

.checkbox label {
  font-size: 1.2rem;
}

.checkbox .indent {
  margin: 0 0 0 20px;
  font-size: 1rem;
  text-transform: none;
}

.checkbox .indent a {
  font-size: 1rem;
}

#sendOrder {
  margin-top: 40px;
  width: 40%;
  border: none;
  cursor: pointer;
}

.confirmation {
  display: none;
  margin: 0 auto;
  width: 800px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.confirmation h1 {
  margin-top: 200px;
}

.confirmation p {
  margin-bottom: 150px;
}

.meetPharmacist {
  font-family: "Open Sans", sans-serif;
}

.meetPharmacist .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meetPharmacist .secondaryButton {
  left: 0;
}

.pharmacistText {
  width: 60%;
  margin-bottom: 50px;
}

.pharmacistText span {
  font-style: italic;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
}

.pharmacistImage {
  width: 40%;
  margin-top: 200px;
  padding: 50px;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 1000px) {
  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile {
    display: block;
  }
  .mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    list-style: none;
  }
  .mobile ul li {
    font-size: 1.5rem;
  }
  .mobile ul a {
    text-transform: uppercase;
    padding: 5px 10px;
    color: black;
  }
  .mobile ul .button {
    color: white;
  }
  .mobileMenu ul {
    list-style: none;
  }
  .mobileMenu a {
    color: black;
  }
  .mobileMenu li {
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
  .browserNav {
    display: none;
  }
  .heroOne {
    background-color: white;
    height: 50vh;
  }
  .heroOne p {
    display: none;
  }
  .heroOne h1 {
    font-size: 1.5rem;
  }
  .heroOne div {
    width: 40%;
    padding: 20px;
    margin-left: 5%;
    bottom: 0;
    display: none;
  }
  .heroOne .contactBtn {
    top: 0;
    font-size: 0.8rem;
  }
  .featureOne ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .featureOne ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .featureOne ul li img {
    margin: 0 20px;
  }
  .featureOne h2 {
    padding: 10px;
  }
  hr {
    display: none;
  }
  .featureTwo {
    margin-bottom: 350px;
  }
  .featureTwo .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featureTwo .wrapper .featureImage {
    width: 80%;
    margin: 20px auto;
  }
  .featureTwo .wrapper .featureText {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .theCircle,
  .pharmacyServices,
  .bannerTwo {
    display: none;
  }
  .blog {
    margin: 0;
    padding: 0 50px 30px 50px;
  }
  .blog .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog div:first-of-type,
  .blog div:last-of-type {
    width: 100%;
    text-align: center;
  }
  .formMap .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formMap .wrapper form {
    width: 100%;
  }
  .formMap .wrapper .map {
    margin: 0;
  }
  .subscribe form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe form input {
    margin: 10px;
  }
  .footerBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerNav div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .hours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hours div {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .logo {
    display: none;
  }
}

body {
  font-size: 62.5%;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.button,
button {
  background-color: #FB575B;
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
}

.secondaryButton {
  border: 3px solid #1FA091;
  border-radius: 30px;
  color: #1FA091;
  position: relative;
  padding: 10px 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  top: 20px;
}

.secondaryButton:hover {
  color: white;
  background: #1FA091;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
}
